*.identcache
__history/
Bin/AikaServer.exe
Bin/AikaServer.ini
Bin/config.ini
Bin/SL.bin
Bin/.rar
Bin/.zip
Bin/data/.rar
Bin/data/.zip
/.rar
/.zip
/.vs
*/.rar
*/.zip
*/.vs
/Src/.vs
DCUs64/*
DCUs
/DCUs64/.dcu
/DCUs64
/DCUs64
/DCUs64
Bin/Logs/StatusLog.txt
Bin/AikaServer.rsm
